body {
  width: 400px;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
  margin: 5px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

#jobPosition {
  position: relative;
}

#jobPositionInput {
  padding-right: 24px;
  max-width: 150px; /* hard code */
}

#translateBtn {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.draggable-input {
  width: 100%;
  padding-top: 5px;
  cursor: move;
}
.info {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0.3;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.info.show {
  visibility: visible;
  opacity: 0.9;
}

.info.success {
  background-color: #4caf50;
}

.info.error {
  background-color: #f44336;
}

.vertical-line {
  width: 2px;
  background-color: #ddd;
  align-self: stretch; /* Дозволяє лінії розтягнутися на всю висоту контейнера */
}

#radio-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.radio-item {
  margin: 5px 0;
}

.info-block {
  padding: 5px;
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-top: 5px;
}
